.sky {
  height: 100vh;
  overflow: hidden;
  position: relative;
  transition: background 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day {
  background: linear-gradient(to top, #87ceeb, #e0f6ff);
}

.night {
  background: linear-gradient(to top, #0b0f2f, #1a237e);
}

/* Weather Card */
.weather-card {
  position: relative;
  z-index: 10;
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.15);
  color: white;
}

/* SUN */
.sun {
  position: absolute;
  top: 80px;
  right: 120px;
  width: 120px;
  height: 120px;
  background: radial-gradient(circle, #ffd54f, #ff9800);
  border-radius: 50%;
  box-shadow: 0 0 60px #ff9800;
  animation: pulse 3s infinite alternate;
}

@keyframes pulse {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}

/* CLOUDS */
.cloud {
  position: absolute;
  background: white;
  border-radius: 50px;
  opacity: 0.9;
}

.cloud1 {
  width: 140px;
  height: 60px;
  top: 150px;
  left: -200px;
  animation: moveClouds 40s linear infinite;
}

.cloud2 {
  width: 100px;
  height: 50px;
  top: 220px;
  left: -300px;
  animation: moveClouds 55s linear infinite;
}

@keyframes moveClouds {
  from { transform: translateX(0); }
  to { transform: translateX(140vw); }
}

/* MOON */
.moon {
  position: absolute;
  top: 90px;
  right: 120px;
  width: 100px;
  height: 100px;
  background: #f5f3ce;
  border-radius: 50%;
  box-shadow: 0 0 40px #fff;
}

/* STARS */
.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent url("https://www.transparenttextures.com/patterns/stardust.png");
  animation: twinkle 2s infinite alternate;
}

@keyframes twinkle {
  from { opacity: 0.6; }
  to { opacity: 1; }
}

/* SHOOTING STAR */
.shooting-star {
  position: absolute;
  top: 50px;
  left: -100px;
  width: 150px;
  height: 2px;
  background: linear-gradient(90deg, white, transparent);
  animation: shoot 5s linear infinite;
}

.shooting-star1 {
  position: absolute;
  top: 30px;
  left: -120px;
  width: 100px;
  height: 3px;
  background: linear-gradient(180deg, rgb(250, 247, 247), transparent);
  animation: shoot1 5s linear infinite;
}

@keyframes shoot {
  from {
    transform: translateX(0) translateY(0) rotate(25deg);
    opacity: 1;
  }
  to {
    transform: translateX(120vw) translateY(200px) rotate(25deg);
    opacity: 0;
  }

}


@keyframes shoot1 {
  from {
       transform: translateX(120vw) translateY(200px) rotate(35deg);
    opacity: 0;
  }
  to {
 
    transform: translateX(0) translateY(0) rotate(35deg);
    opacity: 1;
  }

}
